@page {
    size: A4 landscape;
    margin: 0;
}

@media print {
    .pages { page-break-after: always; }
}
html {
    background: #eee;
}
body {
    height: 209mm;
    width: 297mm;
    margin: 0;
}

/* Primary information */
#cs-name { grid-area: name; }
#cs-background { grid-area: background; }
#cs-race-class-level { grid-area: race-class-level; }
#cs-inspiration { grid-area: inspiration; }
#cs-armor-class { grid-area: armor-class; }
#cs-initiative { grid-area: initiative; }
#cs-speed { grid-area: speed; }
#cs-max-hp { grid-area: max-hp; }
#cs-current-hp { grid-area: current-hp; }
#cs-death-saves { grid-area: death-saves; }
#cs-temp-hp { grid-area: temp-hp; }
#cs-hit-dice { grid-area: hit-dice; }
#cs-proficiency-bonus { grid-area: proficiency-bonus; }
#cs-passive-perception { grid-area: passive-perception; }
#cs-saving-throws { grid-area: saving-throws; }
#cs-skills { grid-area: skills; }
#cs-attacks { grid-area: attacks ; }

#cs-strength { grid-area: strength; }
#cs-dexterity { grid-area: dexterity; }
#cs-constitution { grid-area: constitution; }
#cs-intelligence { grid-area: intelligence; }
#cs-wisdom { grid-area: wisdom; }
#cs-charisma { grid-area: charisma; }

/* Character information */
#cs-appearance { grid-area: appearance; }
#cs-personality { grid-area: personality; }
#cs-ideals { grid-area: ideals; }
#cs-bonds { grid-area: bonds; }
#cs-flaws { grid-area: flaws; }

#cs-age { grid-area: age; }
#cs-height { grid-area: height; }
#cs-weight { grid-area: weight; }
#cs-eyes { grid-area: eyes; }
#cs-skin { grid-area: skin; }
#cs-hair { grid-area: hair; }
#cs-other { grid-area: other; }
#cs-languages { grid-area: languages; }
#cs-proficencies { grid-area: proficencies; }
#cs-backstory { grid-area: backstory; }

.pages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}


.page {
    background-color: white;
    padding: 2mm;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 11mm);
    grid-gap: 2mm;
}

#page-1 {
    grid-template-areas:
        'name name name background background background'
        'race-class-level race-class-level race-class-level race-class-level inspiration inspiration'
        'armor-class initiative speed max-hp current-hp temp-hp'
        'armor-class initiative speed max-hp current-hp temp-hp'
        'strength proficiency-bonus proficiency-bonus death-saves death-saves hit-dice'
        'strength passive-perception passive-perception death-saves death-saves hit-dice'
        'dexterity saving-throws saving-throws attacks attacks attacks'
        'dexterity saving-throws saving-throws attacks attacks attacks'
        'constitution skills skills attacks attacks attacks'
        'constitution skills skills attacks attacks attacks'
        'intelligence skills skills attacks attacks attacks'
        'intelligence skills skills attacks attacks attacks'
        'wisdom skills skills attacks attacks attacks'
        'wisdom skills skills attacks attacks attacks'
        'charisma skills skills attacks attacks attacks'
        'charisma skills skills attacks attacks attacks';
}

#page-2 {
    grid-template-areas:
    'appearance appearance appearance personality personality personality'
    'appearance appearance appearance personality personality personality'
    'appearance appearance appearance ideals ideals ideals'
    'appearance appearance appearance ideals ideals ideals'
    'appearance appearance appearance bonds bonds bonds'
    'appearance appearance appearance bonds bonds bonds'
    'age height weight flaws flaws flaws'
    'eyes skin hair flaws flaws flaws'
    'other other other other other other'
    'other other other other other other'
    'languages languages languages proficencies proficencies proficencies'
    'languages languages languages proficencies proficencies proficencies'
    'backstory backstory backstory backstory backstory backstory'
    'backstory backstory backstory backstory backstory backstory'
    'backstory backstory backstory backstory backstory backstory'
    'backstory backstory backstory backstory backstory backstory';
}

.box {
    border: 0.2mm solid black;
    border-radius: 1mm;
    display: inline-block;
    box-shadow: 0.3mm 0.2mm;
}

.card {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card-title {
    margin: 0mm;
    padding: 1.3mm;
    display: inline-block;
}

.card-title-full {
    margin: 0mm;
    padding: 1.3mm;
    border-bottom: 0.2mm solid black;
}

.card-text {
    padding-right: 2mm;
    float: right;
}

.card-footer-text {
    margin: 0;
    padding: 2mm;
}

.card-text-lg {
    padding-right: 2mm;
    float: right;
    font-size: x-large;
}

.card-footer-full {
    margin: 0mm;
    padding: 1.3mm;
    clear: both;
    border-top: 0.2mm solid black;
}

.attribute {
    font-size: x-small;
}

.float-right {
    float: right;
    padding-right: 3mm;
}

ul {
    font-size: 3.1mm;
    margin: 0;
    padding: 1mm 2mm;
    list-style-position: inside;
}

.unfilled {
    list-style-type: circle;
}

span.circle {
    border-radius: 50%;
    display: inline-block;
    border: 0.2mm solid black;
    height: 2mm;
    width: 2mm;
}

.lined {
    background-color: #fff; 
    background-image: linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 4mm;
    margin-left: 1mm;
    padding: 0;
    height: 100%;
    width: 100%;
}